.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;

    h1 {
        font-weight: 900;
        margin-top: 5rem;
        font-size: 4rem;
    }

    p {
        font-weight: 900;
    }

    .logo {
        height: auto;
        width: 60%;
        margin: 0 auto;
    }
}
